* {
  margin: 10px;
}

#headingCss {
  text-decoration: underline;
}

/* css in js */
.heading {
  /* text-decoration: props => props.isLink ? underline : none; */
  /* font-weight: props => props.isBold ? bold : normal; */
  text-decoration: underline;
}

.heading--underline {
  text-decoration: underline;
}

.heading--none {
  text-decoration: none;
}

.generateBox_form {
  display: flex;
  align-items: center;
}

.generateBox_input {
  border: 1px solid #ccc;
}

.generate_box_container {
  display: flex;
}

.generate_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  width: 120px;
  height: 120px;
  cursor: pointer;
  border: 1px solid #ccc;
}

.traffic_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center
}

.traffic-light-container {
  background-color: #000;
  border-radius: 8px;
  display: flex;
  padding: 8px;
  gap: 8px
}

.traffic-light-container--vertical {
  flex-direction: column
}

.traffic-light {
  --size: 50px;
  background-color: #555;
  border-radius: var(--size);
  height: var(--size);
  width: var(--size)
}